<% include head %>

<h1>Create account</h1>
<%- message %>
<form method="post" action="/createAccount">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="password">
  </p>
  <p>
    <label>Repeat:</label>
    <input type="password" name="passwordRepeat">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include foot %>