<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/main.css' />
    <script src="/js/libs/jquery-1.9.1.js"></script>
    <script src="/js/libs/handlebars-1.0.0-rc.4.js"></script>
    <script src="/js/libs/ember-1.0.0-rc.5.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div>
		<a href="/login">Log in</a>
		<a href="/createAccount">Create account</a>
	</div>
  </body>
</html>