<% include head %>
<div id="github_stats">

</div>
<script type="text/javascript">
(function(user){
    $.getJSON('https://api.github.com/users/' + user + '/repos')
    .done(function(data){
        var html = '<div>user "' + user + '" has ' + data.length + ' repos</div>';
        html += '<div><h2>repo titles</h2>';
        $(data).each(function(index,object){
            html += '<div>' + object.full_name + '</div>';
        });
        $('#github_stats').html(html);
    }).fail(function(jqxhr, status, errorMessage){
        var html = '<div>';
        if(errorMessage === 'Not Found'){
            html += 'User "' + user + '" not found';
        }
        else {
            html += 'An unknown error has occurred';
        }
        html += '</div>';
        $('#github_stats').html(html);
    });
})('<%- user %>')
</script>

<% include foot %>